<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Content&display=swap" rel="stylesheet">
        <link href="styles/dark.css" rel="stylesheet">
    </head>
    <body>
        <div id = "main">
            <div id = "navbar">
                <button class="navbtn" type="button">Accueil</button>
                <button class="navbtn" type="button">Versions</button>
                <button class="navbtn" type="button">Paramètres</button>
                <button class="navbtn" type="button">Compte</button>
                <button class="navbtn" type="button">Aide</button>
            </div>
            <span id = "statusbar">
                <p id="username">Unknown Player</p>
                <p id="status">Unknown Status</p>
            </span>
            <div class = "content">
                <div id = "Actualités">

                </div>
                <div id = "Launch">

                </div>
            </div>
        </div>
    </body>
</html>