
.e202_6 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e201_80 { 
	background-color:rgba(48.000000938773155, 48.000000938773155, 48.000000938773155, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e202_10 { 
	width:276px;
	height:1031px;
	position:absolute;
	left:0px;
	top:49px;
}
.e201_81 { 
	background-color:rgba(35.06250075995922, 35.06250075995922, 35.06250075995922, 1);
	width:276px;
	height:1080px;
	position:absolute;
	left:0px;
	top:-49px;
}
.e201_94 { 
	width:250px;
	height:83px;
	position:absolute;
	left:34px;
	top:358px;
}
.e201_86 { 
	width:207px;
	height:83px;
	position:absolute;
	left:34px;
	top:182px;
}
.e201_98 { 
	width:195px;
	height:83px;
	position:absolute;
	left:34px;
	top:446px;
}
.e201_102 { 
	width:140px;
	height:83px;
	position:absolute;
	left:40px;
	top:534px;
}
.e201_90 { 
	width:171px;
	height:83px;
	position:absolute;
	left:34px;
	top:270px;
}
.e201_110 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:59px;
	position:absolute;
	left:34px;
	top:16px;
	font-family:Content;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e202_11 { 
	width:1644px;
	height:83px;
	position:absolute;
	left:276px;
	top:49px;
}
.e201_82 { 
	background-color:rgba(35.06250075995922, 35.06250075995922, 35.06250075995922, 1);
	width:1644px;
	height:83px;
	position:absolute;
	left:0px;
	top:-3px;
}
.e201_109 { 
	border-radius:500px;
	background-color:rgba(19.0000007674098, 174.00000482797623, 92.00000211596489, 1);
	width:64px;
	height:62px;
	position:absolute;
	left:985px;
	top:8px;
}
.e201_106 { 
	border-radius:500px;
	background-color:rgba(19.0000007674098, 174.00000482797623, 92.00000211596489, 1);
	width:38px;
	height:36px;
	position:absolute;
	left:1260px;
	top:19px;
}
.e201_107 { 
	color:rgba(255, 255, 255, 1);
	width:299px;
	height:86px;
	position:absolute;
	left:1321px;
	top:-2px;
	font-family:Content;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e201_108 { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	height:60px;
	position:absolute;
	left:1087px;
	top:11px;
	font-family:Content;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e202_19 { 
	width:1920px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
}
.e202_3 { 
	background-color:rgba(0, 0, 0, 1);
	width:1920px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
}
.e202_21 { 
	width:1643px;
	height:950px;
	position:absolute;
	left:277px;
	top:130px;
}
.e202_18 { 
	width:1641px;
	height:838px;
	position:absolute;
	left:2px;
	top:1px;
}
.e202_15 { 
	width:1644px;
	height:106px;
	position:absolute;
	left:-1px;
	top:844px;
}
.e202_2 { 
	background-color:rgba(41.00000135600567, 41.00000135600567, 41.00000135600567, 1);
	width:1644px;
	height:106px;
	position:absolute;
	left:0px;
	top:0px;
}
.e201_111 { 
	width:179px;
	height:83px;
	position:absolute;
	left:732px;
	top:13px;
}
